body {
  background-color: maroon;
  color: white;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

.container input {
background-color: black !important;
  color: white;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.navbar {
  background-color: black;
  height: 100%;
  margin:0;
  padding: 0;
}

.row.row-adjustment {
  margin-right: 0;
}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.menu li {
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  height:100px;
}

ul.menu a li.selected {
  background-color: darkgrey;
}
li.selected {
  background-color: darkgrey;
}
ul.menu li:hover{
  background-color: grey;
}


.profile-menu-item:hover {
  background-color: rosybrown;
  color: white !important;

}.profile-menu-item.selected {
  background-color: rosybrown;
  color: white !important;
}

.glyph-remove-line-height {
  line-height: inherit !important;
}

.matter-box {
  padding:  20px;
  margin:   20px;
  border:   1px solid white;
  float:    left;
  position: relative;
  background-color: steelblue;
}
.matter-box .line {
  line-height: 3em
}
.matter-box .line .icon {
  vertical-align: middle;
  padding: 0 10px;
}
.matter-box .line .group, .matter-box .line .matter-count {
  vertical-align: middle;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: inherit;
}

hr.mostly-hidden {
  border-top-color: transparent;: ;
}

.admin-area-box {
  height: 200px;
  width: 200px;
  background-color: black;
  padding:30px 0 0 0;
  float: left;
  margin: 30px;
}
.admin-area-box:hover{
  background-color: grey;
}
.admin-area-box.selected{
  background-color: darkgrey ;
}

.admin-area-box img {
  width: 100px;
}

.admin-area-rail {

}

table {
  width: 100%;
  border: 1px solid black;
}
table thead td {
  width: 100%;
  height:30px;
  background: darkgrey;
  padding: 10px;
  color: black;
}
table tbody tr {
  border-top: 1px black solid;
}
table tbody tr td {
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px;
}
