<html>
<head>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">

  <title>Lawso</title>

  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="http://192.168.99.100:32768/auth/js/keycloak.js"></script>
  <script src="http://localhost:3000/lb-services.js"></script>
  <script src="js/startup.js"></script>

</head>
<body ng-controller="LayoutController as layout">


<div ui-view></div>


<script type="text/ng-template" id="loggedout-main.html">
  <div class="vertical-center">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">LAWZO</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <button ui-sref="loggedin" class="btn btn-lg btn-warning">Enter</button>
        </div>
      </div>

      <hr class="mostly-hidden" />

      <div class="row">
        <div class="col-xs-12 text-center">
          <a href ui-sref="logout">Logout</a>
        </div>
      </div>

    </div>
  </div>

</script>

<script type="text/ng-template" id="loggedin-main.html">
  <div class="row row-adjustment text-center">
    <div class="col-xs-2">

      <nav class="navbar">
        <div style="background-color: black">

          <header class="profile-menu-item"
                  ng-click="layout.gotoState('loggedin.profile');"
                  ng-class="{selected:layout.$state.$current.includes['loggedin.myprofile']}">
            <div style="height: 200px; padding-top:30px">
              <img class="img-circle" src="img/default-profile-image.png" />
            </div>
            <p>
              <span><b ng-bind="ctrl.getNameAsText( )"></b></span>
              <br>
              <span class="text-muted" ng-bind="ctrl.getRoleAsText( )"></span>
            </p>
          </header>

          <section class="ng-cloak" ng-if="ctrl.isManager() || ctrl.isAdmin()">
            <ul class="menu">
              <li ng-click="layout.gotoState('loggedin.groups');"         class="menu-item" ng-class="{selected:layout.$state.$current.includes['loggedin.groups']}">GROUPS</li>
              <li ng-click="layout.gotoState('loggedin.matters');"        class="menu-item" ng-class="{selected:layout.$state.$current.includes['loggedin.timesheet']}">MATTERS</li>
              <li ng-click="layout.gotoState('loggedin.timesheet');"      class="menu-item" ng-class="{selected:layout.$state.$current.includes['loggedin.timesheet']}">TIMESHEET</li>
              <li ng-click="layout.gotoState('loggedin.administration');" class="menu-item" ng-class="{selected:layout.$state.$current.includes['loggedin.administration']}">ADMINISTRATION</li>
            </ul>
          </section>

          <section class="ng-cloak" ng-if="ctrl.isAssociate()">
            <ul class="menu">
              <li ng-click="layout.gotoState('loggedin.myMatters');"          class="menu-item" ng-class="{selected:layout.$state.$current.includes['loggedin.groups']}">GROUPS</li>
              <li ng-click="layout.gotoState('loggedin.myTimesheet');"       class="menu-item" ng-class="{selected:layout.$state.$current.includes['loggedin.timesheet']}">TIMESHEET</li>
            </ul>
          </section>

          <footer style="bottom:1px; position: absolute; text-align: center; width:100%">
            <ul class="menu">
              <li class="menu-item" ng-click="layout.logout();">LOGOUT</li>
            </ul>
          </footer>

        </div>
      </nav>

    </div>

    <div class="col-xs-10">
      <div ui-view></div>
    </div>

  </div>


</script>

<script type="text/ng-template" id="loggedin-group.html">
  <section>
    <div class="row">
      <div class="col-xs-6">
        <div class="pull-left">
          <h1><a ui-sref="^"><i class="glyphicon glyphicon-triangle-left"></i></a>Group</h1>
          <button class="btn btn-sm btn-default">NEW</button>
        </div>
      </div>

      <div class="col-xs-1"></div>
      <div class="col-xs-3">
        <h1>

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><div><i class="glyphicon glyphicon-search glyph-remove-line-height"></i></div></button>
              </span>
          </div>
        </h1>
      </div>
      <div class="col-xs-2">
        <h1>
          <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><div><i class="glyphicon glyphicon-th glyph-remove-line-height"></i></div></button>
                <button type="button" class="btn btn-default"><div><i class="glyphicon glyphicon-th-list glyph-remove-line-height"></i></div></button>
              </span>
          </div>

        </h1>
      </div>

    </div>

    <hr class="mostly-hidden">

    <div class="row" style="border-bottom: 1px grey solid; padding-bottom:10px;">
      <div class="col-xs-3 text-left">
        <span>Acme Group</span>
      </div>
      <div class="col-xs-6"></div>
      <div class="col-xs-3 text-right">
        <button class="btn btn-sm btn-default">NEW COMPANY</button>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="matter-box">
          <div class="line">
            <span class="icon fa fa-university fa-2x"></span>
            <span class="group">Acme Ltd</span>
          </div>
          <div class="line">
            <span class="icon fa fa-list fa-2x"></span>
            <span class="matter-count">10 Matters</span>
          </div>
        </div>

        <div class="matter-box">
          <div class="line">
            <span class="icon fa fa-university fa-2x"></span>
            <span class="group">Acme Ltd</span>
          </div>
          <div class="line">
            <span class="icon fa fa-list fa-2x"></span>
            <span class="matter-count">10 Matters</span>
          </div>
        </div>

        <div class="matter-box">
          <div class="line">
            <span class="icon fa fa-university fa-2x"></span>
            <span class="group">Acme Ltd</span>
          </div>
          <div class="line">
            <span class="icon fa fa-list fa-2x"></span>
            <span class="matter-count">10 Matters</span>
          </div>
        </div>


      </div>
    </div>
  </section>
</script>

<script type="text/ng-template" id="loggedin-timesheet.html">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>Timesheet</h1>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="loggedin-profile.html">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>My Profile</h1>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="loggedin-administration.html">
  <div class="row">
    <div class="col-xs-6">
      <div class="pull-left">
        <a ui-sref="^"><h1><i class="glyphicon glyphicon-triangle-left"></i>Administration</h1></a>
      </div>
    </div>
  </div>

  <hr class="mostly-hidden">

  <div class="row">
    <div class="col-xs-12">

      <div class="admin-area-rail">

        <div class="admin-area-box"
             ui-sref="loggedin.administration.groups"
             ng-class="{selected: layout.$state.$current.includes['loggedin.administration.groups']}">
          <p><img class="img-circle" src="img/default-profile-image.png"></p>
          <h3><span>Groups</span></h3>
        </div>

        <div class="admin-area-box"
             ui-sref="loggedin.administration.companies"
             ng-class="{selected: layout.$state.$current.includes['loggedin.administration.companies']}">
          <p><img class="img-circle" src="img/default-profile-image.png"></p>
          <h3><span>Companies</span></h3>
        </div>

        <div class="admin-area-box"
             ui-sref="loggedin.administration.employees"
             ng-class="{selected: layout.$state.$current.includes['loggedin.administration.employees']}">
          <p><img class="img-circle" src="img/default-profile-image.png"></p>
          <h3><span>Employees</span></h3>
        </div>

        <div class="admin-area-box"
             ui-sref="loggedin.administration.templates"
             ng-class="{selected: layout.$state.$current.includes['loggedin.administration.templates']}">
          <p><img class="img-circle" src="img/default-profile-image.png"></p>
          <h3><span>Templates</span></h3>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div ui-view></div>
    </div>
  </div>

</script>

<script type="text/ng-template" id="loggedin-administration-groups.html">

  <div class="row">
    <div class="col-xs-3">

      <search-box>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="ctrl.model.searchFilter.groupName" placeholder="Search..." />
              <span class="input-group-btn">
                <button type="button"
                        ng-click="ctrl.updateList();"
                        class="btn btn-default"><div><i class="glyphicon glyphicon-search glyph-remove-line-height"></i></div></button>
              </span>
        </div>
      </search-box>

    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-3 text-right"></div>
  </div>

  <hr class="mostly-hidden">

  <table>
    <thead>
    <tr><td>
      <span class="pull-left">Name</span>
      <small-button class="pull-right"
                    ng-click="ctrl.add( );">NEW</small-button>
    </td></tr>
    </thead>
    <tbody ng-repeat="group in ctrl.model.groupList | filter: { groupName: ctrl.model.searchFilter.groupName}">
    <tr>
      <td>
        <span class="pull-left"  ng-bind="group.groupName"></span>
        <small-button class="pull-right"
                      ng-click="ctrl.edit( group);">EDIT</small-button>
      </td>
    </tr>
    </tbody>
  </table>

  <div ui-view></div>

</script>

<script type="text/ng-template" id="loggedin-administration-groups-add.html">
  <popup>
    <form ng-submit="ctrl.add( ctrl.model);">

      <popup-header>
        <a ui-sref="^"><h3 class="pull-left"><i class="glyphicon glyphicon-triangle-left"></i> Add Group</h3></a>
      </popup-header>
      <popup-body>
        <row>
          <col-xs-4>
            <label>id</label>
          </col-xs-4>
          <col-xs-8>
            <span disabled class="form-control" ng-bind="ctrl.model.groupId"></span>
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Name</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.groupName" autofocus required />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Contact Name</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.contactName" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Contact Number</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.contactNumber" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Contact Address</label>
          </col-xs-4>
          <col-xs-8>
            <textarea class="form-control" rows="5" ng-model="ctrl.model.contactAddress" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Referrer Name</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.referrerName" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Referrer Contact</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.referrerContact" />
          </col-xs-8>
        </row>

      </popup-body>

      <hr class="hidden-xs" />

      <popup-footer>
        <col-xs-6>
          <button class="form-control btn btn-default" type="reset" ng-click="ctrl.cancel();">Cancel</button>
        </col-xs-6>
        <col-xs-6>
          <button class="form-control btn btn-success" type="submit">Save</button>
        </col-xs-6>
      </popup-footer>
    </form>
  </popup>
</script>

<script type="text/ng-template" id="loggedin-administration-groups-edit.html">
  <popup>
    <form ng-submit="ctrl.save( ctrl.model);">

      <popup-header>
        <a ui-sref="^"><h3 class="pull-left"><i class="glyphicon glyphicon-triangle-left"></i> Edit Group</h3></a>
      </popup-header>
      <popup-body>
        <row>
          <col-xs-4>
            <label>id</label>
          </col-xs-4>
          <col-xs-8>
            <span disabled class="form-control" ng-bind="ctrl.model.groupId"></span>
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Name</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.groupName" autofocus required />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Contact Name</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.contactName" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Contact Number</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.contactNumber" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Contact Address</label>
          </col-xs-4>
          <col-xs-8>
            <textarea class="form-control" rows="5" ng-model="ctrl.model.contactAddress" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Referrer Name</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.referrerName" />
          </col-xs-8>
        </row>

        <row>
          <col-xs-4>
            <label>Referrer Contact</label>
          </col-xs-4>
          <col-xs-8>
            <input type="text" class="form-control" ng-model="ctrl.model.referrerContact" />
          </col-xs-8>
        </row>

        <record-admin-info>
          <row>
            <col-xs-12>
              <small-button ng-click="ctrl.semaphores.showAdminInfo = !ctrl.semaphores.showAdminInfo" ng-class="pull-left"> + </small-button>
            </col-xs-12>
          </row>

          <record-detail ng-if="ctrl.semaphores.showAdminInfo" class="ng-scope">
            <row>
              <col-xs-4>
                <label>Created by</label>
              </col-xs-4>
              <col-xs-8>
                <span type="text" disabled="" class="form-control ng-binding" ng-bind="ctrl.model.createdByUserId"></span>
              </col-xs-8>
            </row>
            <row>
              <col-xs-4>
                <label>Created on</label>
              </col-xs-4>
              <col-xs-8>
                <span type="text" disabled="" class="form-control ng-binding" ng-bind="ctrl.model.timestampCreate"></span>
              </col-xs-8>
            </row>
            <row>
              <col-xs-4>
                <label>Deactivated on</label>
              </col-xs-4>
              <col-xs-8>
                <span type="text" disabled="" class="form-control ng-binding" ng-bind="ctrl.model.timestampDeactivate"></span>
              </col-xs-8>
            </row>
          </record-detail>
        </record-admin-info>

      </popup-body>
      <popup-footer>
        <col-xs-6>
          <button class="form-control btn btn-default" type="reset" ng-click="ctrl.cancel();">Cancel</button>
        </col-xs-6>
        <col-xs-6>
          <button class="form-control btn btn-success" type="submit">Save</button>
        </col-xs-6>
      </popup-footer>
    </form>
  </popup>
</script>

<script type="text/ng-template" id="loggedin-administration-companies.html">
  <div class="row">
    <div class="col-xs-12">
      <h2>TODO: A list of companies</h2>
    </div>
  </div>
</script>

<script type="text/ng-template" id="loggedin-administration-employees.html">
  <div class="row">
    <div class="col-xs-12">
      <h2>TODO: A list of employees</h2>
    </div>
  </div>
</script>

<script type="text/ng-template" id="loggedin-administration-templates.html">
  <div class="row">
    <div class="col-xs-12">
      <h2>TODO: A list of templates</h2>
    </div>
  </div>
</script>

<script type="text/ng-template" id="loggedin-matters.html">
  <div class="row">
    <div class="col-xs-6">
      <div class="pull-left">
        <a ui-sref="^"><h1><i class="glyphicon glyphicon-triangle-left"></i>Matters: Land Purchase</h1></a>
      </div>
    </div>
  </div>

  <hr class="mostly-hidden">

  <div class="row text-left">
    <div class="col-xs-3">
      <p class="matter-group-and-associates">
        <i class="fa fa-building fa-2x icon text-center"></i>
        <span class="description">Acme Group, Acme Ltd</span>
      </p>
      <p class="matter-group-and-associates">
        <i class="fa fa-group fa-2x icon text-center"></i>
        <span class="description">Elston, Shaun, Tarun</span>
        <small-button class="pull-right">EDIT</small-button>
      </p>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-3">
      <div class="additional-info">
        <p class="title">Additional Information</p>
        <p class="key-value">
            <span class="key">Court:</span>
            <span class="value">Lorem ipsum</span>
        </p>
      </div>
    </div>
  </div>

  <hr class="mostly-hidden">

  <div class="row">
    <div class="col-xs-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." />
              <span class="input-group-btn">
                <button ng-if="isManager()" type="button" class="btn btn-default"><div><i class="glyphicon glyphicon-search glyph-remove-line-height"></i></div></button>
              </span>
      </div>
    </div>
  </div>

  <hr o-class="mostly-hidden">

  <div class="row">
    <!-- Task list -->
    <div class="col-xs-6">
      <task-list class="text-left" off-ng-repeat="task in ctrl.data.tasks">
        <div class="row">
          <div class="col-xs-1"><input class="form-control" type="checkbox" ng-model="ctrl.model"/> </div>
          <div class="col-xs-10"><h4 style="text-decoration: line-through;">Task 1 - Find the khsdflvb</h4>  <span ng-bind="task.name"></span></div>
          <div class="col-xs-1"><small-button ng-if="isManager()" class="pull-right">EDIT</small-button></div>
        </div>
        <div class="row">
          <div class="col-xs-1"><input class="form-control" type="checkbox" /> </div>
          <div class="col-xs-10"><h4>Task 2 - Find the khsdflvb</h4>  <span ng-bind="task.name"></span></div>
          <div class="col-xs-1"><small-button ng-if="isManager()" class="pull-right">EDIT</small-button></div>
        </div>
        <div class="row">
          <div class="col-xs-1"><input class="form-control" type="checkbox" /> </div>
          <div class="col-xs-10"><h4>Task 3 - Find the khsdflvb</h4>  <span ng-bind="task.name"></span></div>
          <div class="col-xs-1"><small-button ng-if="isManager()" class="pull-right">EDIT</small-button></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-4">
            <small-button class="form-control">Show Strikethroughs</small-button>
            <small-button class="form-control">Hide Strikethroughs</small-button>
          </div>
          <div class="col-xs-7"></div>
          <div class="col-xs-1">
            <small-button class="pull-right" ng-if="isManager()">ADD</small-button>
          </div>
        </div>
      </task-list>
    </div>

    <!-- Task comments -->
    <div class="col-xs-6 text-left">
      <div class="text-comment">
        <p>Last Updated: 13:01 12/12/2015 by Sam Smith<small-button ng-if="isManager()" class="pull-right">EDIT</small-button></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="text-comment">
        <p>Last Updated: 13:01 12/12/2015 by Sam Smith<small-button ng-if="isManager()" class="pull-right">EDIT</small-button></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="text-comment-entry">
        <textarea class="form-control"></textarea>
        <p class="text-right">
          <small-button type="reset">RESET</small-button>
          <small-button type="submit">SUBMIT</small-button>
        </p>
      </div>
    </div>
  </div>


</script>


<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="vendor/angular-resource/angular-resource.js"></script>

<script src="js/script.js"></script>
<script src="keycloak-setup.js"></script>

<script src="js/AdminGroupList.controller.js"></script>
<script src="js/AdminGroupAdd.controller.js"></script>
<script src="js/AdminGroupEdit.controller.js"></script>
<script src="js/AdminGroup.service.js"></script>
<script src="js/Layout.controller.js"></script>
<script src="js/Menu.controller.js"></script>


</body>
</html>